.dog-blog {
    background-color: lemonchiffon;
    width: 100%;
    display: inline-block;
}

.dog-blog-row {
    padding: 15 40px;
    display: flex;
}

.dog-img-col {
    width: 25%;
    float: left;
}

.blog-img-section,
.blog-blog-section {
    margin: 10px;
}

.blog-img {
    height: 180px;
    display: block;
    width: 100%;
}

.dog-info {
    background-color: linen;
    padding: 10px;
}

.dog-info p {
    margin: 0;
    font-family: sans-serif;
}

.dog-blog-col {
    width: 75%;
}

.actual-blog {
    text-align: justify;
    font-size: 1.4em;
    margin: 0px;
    font-family: sans-serif;
    padding: 0px 10px;
}

@media only screen and ( max-width:768px) {
    .dog-blog-row {
        padding: 5 10px;
    }
    .dog-img-col {
        width: 50%;
    }
}