body {
    margin: 0;
    padding: 0;
}

header {
    background-color: lavenderblush;
    display: inline-block;
    width: 100%;
}

.logo {
    color: salmon;
    font-weight: bold;
    font-style: italic;
    display: inline-block;
    padding: 15px 40px;
    font-size: 2em;
}

.header-navbar {
    float: right;
}

.header-navbar ul {
    padding: 0;
    margin: 0;
    display: inline-block;
}

.header-navbar ul li {
    list-style: none;
    float: left;
    padding: 15px 30px;
}

.header-navbar ul li a {
    text-decoration: none;
    letter-spacing: 1px;
    padding: 0 15px;
    display: block;
    line-height: 30px;
    position: relative;
    color: rgb(95, 95, 95);
    font-weight: bold;
    color: brown;
}

footer {
    background-color: lavenderblush;
    width: 100%;
    display: inline-block;
}

.footer-row {
    padding: 15px 40px;
    display: flex;
}

.footer-col {
    width: 33.33%;
    float: left;
}

.about-footer,
.about-para-footer {
    color: gray;
}

.about-para-footer {
    text-align: justify;
    font-family: sans-serif;
    font-size: 0.8em;
}

.about-footer {
    font-weight: bold;
}

.icons {
    height: 20px;
}

.all-icons {
    padding: 25px 175px;
}

@media only screen and ( max-width:768px) {
    .about-para-footer {
        font-size: 0.6em;
    }
    .footer-row {
        padding: 5 15px;
    }
    .all-icons {
        padding: 30 30px;
    }
}