.all-photos {
    background-color: #fde8bf;
}

.photo-gallery-h2 {
    margin: 0;
    text-align: center;
    padding: 20px 0;
    color: brown;
}

.photos-row {
    padding: 15px 40px;
    display: inline-block;
}

.photos-col {
    float: left;
    width: 25%;
}

.dog-img {
    width: 100%;
    height: 200px;
}

.dog-profile {
    display: inline-block;
    margin: 10px;
}

.dog-info p {
    margin: 0;
    font-family: sans-serif;
}

.dog-info {
    background-color: linen;
    padding: 10px;
}

@media only screen and ( max-width:768px) {
    .photos-col {
        width: 50%;
    }
    .photos-row {
        padding: 5 15px;
    }
}