body {
    margin: 0;
    padding: 0;
}

header {
    background-color: lavenderblush;
    padding: 5px;
}

.logo {
    color: salmon;
    font-weight: bold;
    font-style: italic;
    font-family: initial;
    padding: 0 30px;
    margin-bottom: -5px;
}